
.form-add-producer {
    margin: auto;
    margin-bottom: 100px;
}

.form-add-producer > h2 {
    padding: 15px 0;
}

.form-add-producer > label {
    display: block;
    padding: 5px 0;
}

.form-add-producer > input[type="text"], .form-add-producer > .submit {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin-bottom: 10px;
}

.form-add-producer > .submit {
    background-color: #EEE;
    cursor: pointer;
    transition: background-color .1s;
    margin-top: 50px;
}

.form-add-producer > .submit:hover {
    background-color: #DDD;
}

.form-add-producer > .submit:active {
    background-color: #CCC;
}