.admin-panel {
    padding: 15px;
}

.admin-panel-back {
    font-size: 20px;
    color: #4f78ff;
    text-decoration: none;
    padding: 10px 0;
    display: inline-block;
    transition: color .1s;
}

.admin-panel-back:hover {
    color: #3e66e9;
    text-decoration: underline;
}

.admin-panel-controls {
    width: 100%;
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-panel-controls > a {
    text-decoration: none;
    color: #000;
}

.admin-panel-control {
    padding: 30px;
    margin: 5px;
    background-color: #EEE;
}

.admin-panel-control:hover {
    background-color: #CCC;
}

@media all and (max-width: 500px) {

    .admin-panel-controls {
        flex-direction: column;
    }

    .admin-panel-control {
        box-sizing: border-box;
        width: 100%;
        margin: 5px 0;
    }

}
