

#product-content-block {
    padding: 10px;
    margin-bottom: 100px;
}

.product-content-block {
    display: flex
}

.product-content-block > .block {
    width: 50%;
    padding: 10px;
}

.product-content-block > .block > .images-block {
    height: 500px;
}

.buy-block {
    margin: 40px 0;
    display: flex;
    align-items: center;
}

.price-block {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0 25px;
    flex-shrink: 0;
}

.old-price-label {
    font-size: 20px;
}

.price-label {
    font-size: 35px;
    color: #000;
}

.price-label.old {
    color: #ff5050;
}

.buy-button {
    box-sizing: border-box;
    display: inline-block;
    background-color: #00b850;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    transition: background-color .1s;
}

.buy-button:hover {
    background-color: #00a046;
}

.buy-button:active {
    background-color: #00863a;
}

#product-content-block h2 {
    margin: 30px 0 15px;
}

#product-content-block h2 > span {
    color: #CCC;
}

.product-params-block {

}

.product-params-block > li {
    list-style: none;
    display: flex;
    padding: 15px 0;
}

.product-params-block > li > div {
    padding-right: 15px;
}

.product-params-block > li > div:nth-child(1) {
    min-width: 40%;
    width: 40%;
}

.product-params-block > li > div > span {
    background-color: #FFF;
    padding-right: 15px;
}

.product-params-block > li > div:nth-child(1):after {
    content: '';
    border-bottom: 1px dotted #CCC;
    display: block;
    margin-top: -3px;
}

.products {
    display: flex;
    overflow: auto;
}

.slick-prev:before, .slick-next:before {
    color: #AAA !important;
}

@media all and (max-width: 800px) {

    .product-content-block {
        flex-wrap: wrap;
    }

    .product-content-block > .block {
        width: 100%;
        padding: 0;
    }

    .buy-button {
        margin: 0 20px;
        width: 100%;
        display: block;
    }
}


@media all and (max-width: 500px) {

    .buy-block {
        flex-direction: column;
    }

    .price-block {
        margin-bottom: 20px;
    }
}
