
.admin-panel-form {
    margin: auto;
    margin-bottom: 100px;
}

.admin-panel-title {
    padding: 15px 0;
}

.admin-panel-preview {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #4f78ff;
}

.admin-panel-preview:hover{
    color: #3e66e9;
    text-decoration: underline;
}

p.admin-panel {
    font-weight: bold;
    padding: 10px 0;
}

.admin-panel-form > textarea {
    height: 200px;
    resize: none;
}

.admin-panel-form > input[type="text"], 
.admin-panel-form > label.select-image, 
.admin-panel-form .submit,
.admin-panel-form > textarea {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.admin-panel-form > label.select-image,
.admin-panel-form .submit {
    background-color: #F3F3F3;
    cursor: pointer;
    transition: background-color .1s;
    text-align: center;
}

.admin-panel-form .submit {
    margin: 25px 0;
    border-color: rgb(146, 212, 146);
    background-color: rgb(238, 255, 238);
    color: green;
}

.admin-panel-form .submit:hover {
    background-color: rgb(210, 255, 210);
}

.admin-panel-form .submit:active {
    background-color:rgb(182, 255, 182);
}

.admin-panel-form .submit.delete {
    border-color: rgb(224, 164, 164);
    background-color: rgb(255, 234, 234);
    color: rgb(201, 87, 87);
}

.admin-panel-form .submit.delete:hover {
    background-color :rgb(255, 220, 220);
}

.admin-panel-form .submit.delete:active{
    background-color: rgb(255, 206, 206);
}

.admin-panel-form > label.select-image:hover {
    background-color: #E7E7E7;
}

.admin-panel-form > label.select-image:active {
    background-color: #E0E0E0;
}

.admin-panel-form > label.select-image > input[type="file"] {
    opacity: 0;
    display: none;
}

.admin-panel-form > .images-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.admin-panel-form > .images-section > .image-section {
    width: 350px;
    margin: 5px;
    padding: 0 10px;
    border: 1px solid #DDD;
    display: flex;
    flex-direction: column;
}

.admin-panel-form > .images-section > .image-section > span {
    display: block;
}

.admin-panel-form > .images-section > .image-section > p > span.close {
    float: right;
    cursor: pointer;
    color: red;
}

.admin-panel-form > .images-section > .image-section > .image-block {
    display: flex;
    align-items: center;
}

.admin-panel-form > .images-section > .image-section > .image-block > img {
    max-width: 100%;
    max-height: 300px;
    margin: 20px auto;
    display: block;
}

@media all and (max-width: 700px) {
    .admin-panel-form > .images-section > .image-section {
        width: 100%;
    }
}
