
.product-form {
    margin: auto;
    margin-bottom: 100px;
}

.product-form > h2 {
    padding: 15px 0;
}

.product-form > a {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #4f78ff;
}

.product-form > a:hover{
    color: #3e66e9;
    text-decoration: underline;
}

.product-form p {
    font-weight: bold;
    padding: 15px 0 10px;
    line-height: 20px;
}

.product-form span.close {
    float: right;
    cursor: pointer;
    color: red;
}

.product-form > input[type="text"], 
.product-form > label.select-image, 
.product-form > .submit {
    box-sizing: border-box;
    width: 100%;
    display: block;
    padding: 7px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #CCC;
}

.product-form > label.select-image,
.product-form > .submit {
    background-color: #EEE;
    cursor: pointer;
    transition: background-color .1s;
    text-align: center;
}

.product-form > label.select-image:hover,
.product-form > .submit:hover {
    background-color: #DDD;
}

.product-form > label.select-image:active,
.product-form > .submit:active {
    background-color: #CCC;
}

.product-form > label.select-image > input[type="file"] {
    opacity: 0;
    display: none;
}

.product-form > .submit {
    margin: 50px 0;
}









.product-form > .images-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.product-form > .images-section > .image-section {
    width: 350px;
    margin: 5px;
    padding: 0 10px;
    border: 1px solid #DDD;
    display: flex;
    flex-direction: column;
}

.product-form > .images-section > .image-section > span {
    display: block;
}

.product-form > .images-section > .image-section > .image-block {
    display: flex;
    align-items: center;
}

.product-form > .images-section > .image-section > .image-block > img {
    max-width: 100%;
    max-height: 300px;
    margin: 20px auto;
    display: block;
}

@media all and (max-width: 700px) {
    .product-form > .images-section > .image-section {
        width: 100%;
    }
}