
.filter-block {
    background-color: #EEE;

}


.filter-header {
    background-color: #DDD;
    cursor: pointer;
}

.filter-header > p {
    padding: 10px;
}

.filter-block > ul > li {
    display: flex;
    list-style: none;
}

.filter-block > ul > li:hover {
    background-color: #EAEAEA;
}

.filter-block > ul > li > label {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.filter-block > ul > li > label:before {
    content: "";
    display: block;
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 10px;

    border: 1px solid #d2d2d2;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}

.filter-block > ul > li > input[type="checkbox"]:checked + label:before {
    background-image: url("data:image/svg+xml;utf8,<svg width='14' height='12' viewBox='0 0 14 12' xmlns='http://www.w3.org/2000/svg'><path d='M4.10351 8.89548L1.45582 6.09578L0 7.6352L4.13584 12L14 1.56934L12.5159 0L4.10351 8.89548Z' fill='rgb(255, 255, 255)' /></svg>");
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #00a046;
    background-size: 10px 8px;
    border-color: #00a046;
}

.filter-block > ul > li > input[type="checkbox"] {
    position: absolute;
    height: 0;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.slider-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0;
}

.slider-info > input[type="text"] {
    padding: 5px;
    font-size: 18px;
    width: 75px;
}

.slider-info > button {
    width: 50px;
    cursor: pointer;
    font-size: 17px;
    transition: background-color .1s;
}

.slider-block {
    padding: 10px;
}

.MuiSlider-root {
    margin: 0 10px !important;
    width: calc(100% - 20px) !important;
    color: #00a046 !important;
}

.MuiSlider-thumb:hover {
    /* box-shadow: 0px 0px 0px 8px rgba(0, 160, 70, 0.16) !important; */

    box-shadow: none !important;
}
.MuiSlider-thumb.MuiSlider-active {
    /* box-shadow: 0px 0px 0px 14px rgba(0, 160, 70, 0.16) !important; */

    box-shadow: none !important;
}

.MuiSlider-rail {
    margin-left: -10px;
    width: calc(100% + 20px) !important;
}

.MuiSlider-thumb {
    width: 20px !important;
    height: 20px !important;
    margin-top: -10px !important;
    margin-left: -10px !important;
}

.MuiSlider-valueLabel {
    left: calc(-50% - -4px) !important;
}
