


.product-block {
    position: relative;
    overflow: hidden;
    width: 200px;
    padding: 25px;
    height: 350px;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.product-block:hover {
    background-color: #F7F7F7;
}

.product-link > img {
    max-width: 200px;
    max-height: 300px;
    display: block;
    margin: auto;
}

.product-link > h4 {
    text-align: center;
    margin: 15px 0;
}

.product-link {
    color: #000;
    text-decoration: none;
}

.product-link:hover {
    text-decoration: underline;
}

.product-block p {
    text-align: center;
    padding: 5px 0;
}

.product-block.temp {
    background-color: #FAFAFA;
}

