#header {
    padding: 15px;
    border-bottom: 1px solid #DDD;
    background-color: #FFF;
    display: flex;
    justify-content: center;
}

#header-panel {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#logo {
    text-decoration: none;
    color: #000;
    font-size: 40px;
}

#header-search-panel {
    height: 40px;
    display: flex;
    align-self: center;
}

#search-field {
    max-width: 350px;
    padding: 10px 40px;
    outline: none;
    font-size: 18px;
    display: block;
    border: none;
    background-color: #EEE;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 1 0 4.906 14.32l5.387 5.387a1 1 0 0 0 1.414-1.414l-5.387-5.387A8 8 0 0 0 10 2zm-6 8a6 6 0 1 1 12 0 6 6 0 0 1-12 0z'/%3E%3C/svg%3E");
    background-position: 12px;
    border-radius: 10px 0 0 10px;
}

#search-button {
    text-decoration: none;
    padding: 0 25px;
    display: flex;
    align-items: center;
    background-color: #DDD;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    border: none;
    transition: background-color .1s;
    border-radius: 0 10px 10px 0;
}

#search-button:hover {
    background-color: #CCC;
}

#search-button:active {
    background-color: #BBB;
}

#profile-block {
    display: flex;
}

.profile-controls {
    width: 30px;
    margin: 0 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: grayscale(100%);
    opacity: 0.888;
}

.profile-controls:hover {
    opacity: 0.777;
}

@media all and (max-width: 800px) {

    #header-panel {
        flex-wrap: wrap;
    }

    #header-search-panel {
        width: 100%;
        margin-top: 20px;
        order: 2;
        display: flex;
    }

    #search-field {
        max-width: none;
        width: 100%;
    }

    #admin {
        order: 1;
    }

}

@media all and (max-width: 400px) {

    #logo {
        margin: 0;
    }

    #search-field {
        padding-right: 20px;
    }

    #search-button {
        padding: 0 10px;
    }

    #admin {
        margin: 0;
    }

}
