

#navbar {
    padding: 10px;
}

#navbar-list {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#navbar-list > li {
    list-style: none;
    display: flex;
}

#navbar-list > li > div.arrow-block {
    padding: 0 5px;
    display: flex;
    align-items: center;
}

div.arrow-block > span.arrow {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: translateX(-25%) rotate(45deg);
    width: 5px;
    height: 5px;
    display: inline-block;
}

#navbar-list > li > a {
    text-decoration: none;
    color: #4f78ff;
    transition: color .1s;
}

#navbar-list > li > a:hover {
    color: #3e66e9;
    text-decoration: underline;
}

#navbar > h1 {
    margin-top: 20px;
}