#products-container-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.products-container-navigation-arrow-block {
    padding: 15px 30px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: background-color .1s;
    cursor: pointer;
    border: 1px solid #DDD;
}

.products-container-navigation-arrow-block:hover,
.products-container-navigation-content-item:hover {
    background-color: #EEE;
}

.products-container-navigation-arrow-block:active,
.products-container-navigation-content-item:active {
    background-color: #E7E7E7;
}

.products-container-navigation-arrow {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    width: 15px;
    height: 15px;
    display: inline-block;
}

.products-container-navigation-arrow.prev {
    transform: translateX(25%) rotate(-135deg);
}

.products-container-navigation-arrow.next {
    transform: translateX(-25%) rotate(45deg);
}

.products-container-navigation-content {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px 25px;
}

.products-container-navigation-content-item {
    margin: 0 5px;
    max-width: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    transition: background-color .1s;
    border-radius: 10px;
    border: 1px solid #DDD;
    cursor: pointer;
}

.products-container-navigation-content-item.active {
    background-color: #DDD;
}
