#products-container-block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

@media all and (max-width: 800px) {

    .products-container {
        width: 100%;
    }

}
