.products-container {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

@media all and (max-width: 800px) {

    .products-container {
        width: 100%;
    }

}
